:root{--brand-color-blue:#4D5AE5;
      --brand-color-navy-blue:#2E2F42;
      --brand-color-grey:#434455;
}
body{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--brand-color-navy-blue);
}

    /* .header {}
    .header-navigation {} */

.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--brand-color-navy-blue);
    text-decoration: none;
}
.header-logo span{
    color: var(--brand-color-blue);
}
 .header-list {
    list-style: none;
 }
 /*.header-item {}*/

.header-link {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:var(--brand-color-navy-blue);
    text-decoration: none;
}
.header-link:hover{
    color:var(--brand-color-grey);
}
.header-link:active{
    color: var(--brand-color-blue);
}
.header-contacts-list{
    list-style: none;
}
 .header-contacts-list a{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--brand-color-grey);
    text-decoration: none;
 }

/*
.header-contacts-item{}
.header-mail {} 
.header-tel {}
*/

.header-mail:hover,:focus {
    color: var(--brand-color-blue);
}

.header-tel:hover,:focus {
    color: var(--brand-color-blue);
}
.banner {
    background-color: var(--brand-color-navy-blue);
}
.banner-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
}
.banner-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--brand-color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor:pointer;
}
.banner-button:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
.banner-button:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* .advantages {}*/

.advantages-list {
    list-style: none;
} 
/* .advantages-item {} */

.advantages-title {
    font-size: 20px;
    line-height: 1.2;
}
.advantages-description {
    color:var(--brand-color-grey);
}
/* .about {} */

.about-title {
    font-size: 36px;
    line-height: 1.11px;
    text-align: center;
    text-transform: capitalize;
}
 .about-list {
    list-style: none;
}
/*
.about-item {}
.about-image {}
.team {} */

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}
 .team-list {
    list-style: none;
}
/*
.team-item {}
.team-image {} */

.team-name {
    font-size: 20px;
    line-height: 1.2;
}
.team-function {
    font-size: 16px;
    color:var(--brand-color-grey);
}

 /* .portfolio {} */
.buttons-list{
    list-style: none;
}
.buttons-list button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor:pointer;
}

/*.buttons-item {} */

.buttons-all{
    color: #FFFFFF;
    background-color: var(--brand-color-blue);
    
}
.buttons-btn {
    color: var(--brand-color-blue);
    background-color: #E7E9FC;

}
 
.portfolio-list {
    list-style: none;
}
/*
.portfolio-item {}
.portfolio-image {} */

.portfolio-title {
    font-size: 20px;
    line-height: 1.2;
}
.portfolio-category {
    color:var(--brand-color-grey);
}
.footer {
    background-color:var(--brand-color-navy-blue);
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}
.footer-logo span{
    color: var(--brand-color-blue);

}
.footer-text {
    color: #E7E9FC;
    }